{{#if skipDefault}}
	 {{{body}}}
{{ else }}
	<!DOCTYPE html>
	<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Studio Fitness O2">
		<title>Studio Fitness O2</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet"> {{!-- This file provides the default styling for the KeystoneJS Content Editor - only renders when user is logged in and
		admin--}} {{{isAdminEditorCSS user}}} {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries //-
		Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
				<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
				<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
			<![endif]-->

		<style>
			.navbar-brand img {
				width: 40px;
			}
			.page-footer {
				padding-top: 20px;
			}
			.footer-links {
				padding: 30px;
			}
			.amber {
    		background-color: #ffc107 !important;
			}
			.grey-text.text-darken-3 {
    		color: #424242 !important;
			}
			.footer-links h5 {
				font-size: 24px;
				line-height: 1em;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0.82rem 0 0.656rem 0;
				font-family: "Roboto", sans-serif;
			}
			.footer-links a {
				color: black;
			}

			@media (min-width: 767px) 
			{
				.navbar-right li a {
					line-height: 90px;
					padding: 0 15px;
					color: black !important;
					font-size: 14.5px;
				}
				.navbar-brand img {
					width: 75px;
				}
			}
		</style>

	</head>

	<body>
		<div>
			<div role="navigation" class="navbar navbar-default" style="background: white;">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
						<a href="/" class="navbar-brand" style="padding: 0 15px;">
							<img src="assets/img/logotipo-fitness-o2.jpg" alt="Logotipo Fitness O2" style="margin-top: 3px;">
						</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/">Home</a></li>
							<li><a href="/sobre-nos">Sobre nós</a></li>
							<li><a href="/localizacao">Localização</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/gallery">Galeria</a></li>
							{{#if user}}
							<li><a href="/keystone/signout">Sign Out</a></li>
							{{else}}
							<li><a href="/keystone/signin">Sign In</a></li>
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="body">
			<!--
					Flash messages allow you to display once-off status messages to users, e.g. form
					validation errors, success messages, etc
				-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
					{{{flashMessages messages.info}}}
				</div>
				{{/if}} {{#if messages.success}}
				<div class="alert alert-success">
					{{{flashMessages messages.success}}}
				</div>
				{{/if}} {{#if messages.warning}}
				<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
				</div>
				{{/if}} {{#if messages.error}}
				<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>

		<footer class="page-footer grey darken-3">
			<div class="amber footer-links">
				<div class="container grey-text text-darken-3" style="padding: 0 15px;">
					<div class="row">
						<div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3 col-lg-1 col-lg-offset-5">
							<a href="https://api.whatsapp.com/send?l=pt&phone=5512988001234" target="_blank"><img src="assets/img/whatsapp.png" style="width: 100%"></a>
						</div>
						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
							<a href="https://www.facebook.com/studiofitnesso2/" target="_blank"><img src="assets/img/facebook.png" style="width: 100%"></a>
						</div>
						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
							<a href="https://www.instagram.com/studiofitnesso2/" target="_blank"><img src="assets/img/instagram.png" style="width: 100%"></a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-4 col-lg-4">
							<h5>Services</h5>
							<p><a href="#" class="grey-text text-darken-4">Link 1</a></p>
							<p><a href="#" class="grey-text text-darken-4">Link 2</a></p>
							<p><a href="#" class="grey-text text-darken-4">Link 3</a></p>
						</div>
						<div class="col-sm-12 col-md-4 col-lg-4">
							<h5>Info</h5>
							<p><a href="#" class="grey-text text-darken-4">Link 1</a></p>
							<p><a href="#" class="grey-text text-darken-4">Link 2</a></p>
							<p><a href="#" class="grey-text text-darken-4">Link 3</a></p>
						</div>
						<div class="col-sm-12 col-md-4 col-lg-4">
							<h5>Studio Fitness</h5>
							<p><a href="#" class="grey-text text-darken-4">Link 1</a></p>
							<p><a href="#" class="grey-text text-darken-4">Link 2</a></p>
							<p><a href="#" class="grey-text text-darken-4">Link 3</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>

		{{!-- //- jQuery 1.11.3 is included by default, and required by both Bootstrap //- and the KeystoneJS Content Editor. If
		you are not targeting IE8, //- you can upgrade to 2.1.4 (also bundled) for better performance. --}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!-- //- Customise which Bootstrap javascript files are served by including //- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>

	</html>
{{/if}}
